@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>商品消费</title>

    <script src="~/js/jquery1.11.3.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        html,body {
        width:100%;
        height:100%;
        margin:0px;
        margin:0px;
        }
        .center,.left,.right{
        margin:5px;
        padding:5px;

        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input").focus(function(){  
                $(this).parent().children(".input_clear").show();
                $("#getinfomsg").html("");
            });  
            $("input").blur(function(){  
                if($(this).val()=='')  
                {  
                    $(this).parent().children(".input_clear").hide();  
                }  
            });  
            $(".input_clear").click(function(){  
                $(this).parent().find('input').val('');
                $("#getinfomsg").html("");
                $("#input2").val('');
                $("#input3").val('');
                $("#input4").val('');
                $(this).hide();
            });
            $("#submitdata").click(function () {
                var panduan = $("#submitdata").hasClass("submitDis")
                if (panduan == false)
                {
                    if ($("#input3").val() == null || $("#input3").val() == "") {
                        alert("请输入会员信息");
                    }
                    else {
                        var str = "";
                        var good = "";
                        var id = $(document).find(".goodsid");
                        var stock = $(document).find(".goodsnum");
                        var goodname = $(document).find(".goods-info")
                        var checkbox = $(document).find(".goods-list-item");
                        var count = $("input[class='form-control goods-count']")
                        for (var i = 0; i < checkbox.length; i++) {
                            if (checkbox.eq(i).prop("checked")) {
                                if (stock.eq(i).val() < count.eq(i).val()) {
                                    good += goodname.eq(i).html()+" ";
                                }
                                else {
                                    str += id.eq(i).val() + "*" + count.eq(i).val() + ","
                                }
                            }
                        }
                        if (good == "") {
                            $.ajax({
                                url: "/Commodity/SubmitXF",
                                type: "post",
                                async: false,
                                data: { datastr: str, memberid: $("#input3").val() },
                                success: function (result)
                                {
                                    if (result.state == 1)
                                    {
                                        alert("结算成功");
                                        window.location.reload();
                                    }
                                    else if (result.state == 2 || result.state == 3 || result.state == 4)
                                    {
                                        alert("您已在别处登录或下线!");
                                        window.location = "/Member/LogOut";
                                    }
                                }
                            })
                        } else {
                            alert(good + "库存不足");
                        }
                    }
                }
            })
        })
        function getmemberinfo(e) {
            var keyCode = null;
            if (e.which)
                keyCode = e.which;
            else if (e.keyCode)
                keyCode = e.keyCode;
            if (keyCode == 13) {
                var reg = /^[0-9]+.?[0-9]*$/
                if (reg.test($("input[name='getinfo']").val())) {
                    $.ajax({
                        url: "/Commodity/GetMemberInfo",
                        type: "post",
                        async: false,
                        datatype: JSON,
                        data: {
                            getinfo: $("input[name='getinfo']").val()
                        },
                        success: function (result) {
                            if (result.state == 1) {
                                $("#input2").val(result.name);
                                $("#input3").val(result.no);
                                $("#input4").val(result.phone);
                                $("#getinfomsg").html("");
                            } else if (result.state == 2) {
                                $("#getinfomsg").html("会员信息不存在");
                                $("#input2").val('');
                                $("#input3").val('');
                                $("#input4").val('');
                            } else if (result.state == 3) {
                                $("#getinfomsg").html("输入格式不正确");
                                $("#input2").val('');
                                $("#input3").val('');
                                $("#input4").val('');
                            }
                            else if (result.state == 4 || result.state==5) {
                                alert("您已在别处登录或下线!");
                                window.location = "/Member/LogOut";
                            }
                        },
                    })
                }
                else {
                    $("#getinfomsg").html("输入格式不正确");
                }
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#menu">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">摇钱树门店管理</a>
            </div>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Commodity/Index">商品消费</a></li>
                    <li><a href="/GoodsManage/Index">商品管理</a></li>
                    <li><a href="/Member/Index">会员管理</a></li>
                    <li><a href="/Record/Index">消费记录</a></li>
                    <li><a href="/Income/Index">营业收入</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="width:90%;margin:auto;padding:5px;height:85%" class="main">
        <div style="width:18%;height:300px;float:left" class="left">
            <div class="form-group">
                <label for="inpout1">会员卡号/手机号:</label><br />
                <div style="position:relative;">

                    <div style="position:absolute;right:5px;top:5px;cursor:pointer;display:none;" class="input_clear">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                    </div>
                    <input type="text" class="form-control" id="input1" placeholder="输入会员卡号或手机号" name="getinfo" onkeypress="getmemberinfo(event)" style="text-align:left">
                </div>

                <label for="inpout2">会员姓名:</label>
                <input type="text" class="form-control" id="input2" disabled="disabled" style="text-align:left">

                <label for="inpout3">会员卡号:</label>
                <input type="text" class="form-control" id="input3" disabled="disabled" style="text-align:left">

                <label for="inpout4">会员手机:</label>
                <input type="text" class="form-control" id="input4" disabled="disabled" style="text-align:left">
            </div>
            <span id="getinfomsg" style="color:red"></span>
        </div>

            <div id="contentbox" style="width:30%;height:99%;float:left;" class="center">
                @Html.Action("CenterList","Commodity")
            </div>

        <div style="width:45%;height:99%;float:left;overflow:auto" class="right">
            @Html.Action("RightContent", "Commodity")
        </div>  
        <link href="~/css/style.css" rel="stylesheet" />
        <script type="text/javascript" src="~/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script src="~/js/script.js"></script>
        <script type="text/javascript">
            function addgood(goodsname, price, id, stock) {
                var goodsHtml =
                    '<div class="goods-item">' +
                    '<input type="hidden" value="' + id + '" class="goodsid"></input>' +
                    '<input type="hidden" value="' + stock + '" class="goodsnum"></input>' +
                    '<div class="panel panel-default">' +
                    '<div class="panel-body">' +
                    '<div class="col-md-1 car-goods-info">' +
                    '<label>' + '<input type="checkbox" class="goods-list-item">' + '</label>' +
                    '</div>' +
                    '<div class="col-md-2 car-goods-info" style="padding:0px">' +
                    '<span id="goods-info" class="goods-info">' + goodsname + '</span>' +
                    '</div>' +
                    '<div class="col-md-2 car-goods-info goods-price">' +
                    '<span>￥</span>' +
                    '<span class="single-price">' + price + '</span>' +
                    '</div>' +
                    '<div class="col-md-3 car-goods-info goods-counts">' +
                    '<div class="input-group">' +
                    '<div class="input-group-btn">' +
                    '<button type="button" class="btn btn-default car-decrease">-</button>' +
                    '</div>' +
                    '<input type="text" class="form-control goods-count" style="padding:0px" value="1">' +
                    '<div class="input-group-btn">' +
                    '<button type="button" class="btn btn-default car-add" style="width:30px">+</button>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-md-2 car-goods-info goods-price">' +
                    '<span>￥</span>' +
                    '<span class="single-total">' + price + '</span>' +
                    '</div>' +
                    '<div class="col-md-2 car-goods-info goods-operate">' +
                    '<button type="button" class="btn btn-danger item-delete">删除</button>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                var arr = []
                var txt = $(document).find(".goodsid");
                for (var i = 0; i < txt.length; i++) {
                    arr.push(parseInt(txt.eq(i).val()))
                }
                var result = $.inArray(id, arr);
                if (result == -1){
                    $('.goods-content').append(goodsHtml)
                }
            }
        </script>

    </div>
</body>
</html>

