<div id="modifypassword">
    <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>

                @using (Html.BeginForm("modifypassword", "Member"))
                {
                    <div class="modal-body">
                        <table class="table table-bordered">

                            <tr>
                                <td>旧密码</td>
                                <td><input name="oldpwd" type="password" class="form-control" onfocus="clearmsg()"/></td>
                            </tr>

                            <tr>
                                <td>新密码</td>
                                <td><input name="newpwd" type="password" class="form-control" onfocus="clearmsg()" /></td>
                            </tr>

                            <tr>
                                <td>确认新密码</td>
                                <td><input name="conpwd" type="password" class="form-control" onfocus="clearmsg()" /></td>
                            </tr>


                        </table>
                        <label style="color:red" id="pwd_msg"></label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" onclick="return modifypassword()">提交修改</button>
                    </div>
                }

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

