<table class="table table-bordered table-hover" id="list1">

    <tr>
        <th>姓名</th>
        <th>类型</th>
        <th style="width:60%">备注</th>
        <th>时间</th>
    </tr>
    @using System.Data
    @foreach (DataRow item in Model.Rows)
    {
        <tr class="info">
            <td>@item["name"]</td>
            <td>@item["operatype"]</td>
            <td>@item["remarks"]</td>
            <td>@item["operatime"]</td>
        </tr>
    }

</table>