<div id="xiaofei">
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">消费</h4>
                </div>

                @using (Ajax.BeginForm("XiaoFei", "Member", new AjaxOptions() { UpdateTargetId = "memberlist", OnSuccess = "HideAdd()" }))
                {
                    @Html.Hidden("xftype",1);
                    @Html.Hidden("xf_no");
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tr>
                                <td>当前余额</td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">¥</div>
                                            <input type="text" class="form-control" id="xf_balance" name="xf_balance" readonly>
                                            <div class="input-group-addon">元</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>剩余次数</td>
                                <td>
                                    <div class="form-group">      
                                            <input type="text" class="form-control" id="xf_sycs" name="xf_sycs" width:100% readonly>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>消费类型</td>
                                <td>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="type" id="radios1" value="type1" onclick="radioclick(1)" checked>
                                            时间消费
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="type" id="radios2" value="type2" onclick="radioclick(2)">
                                            按次消费
                                        </label>
                                    </div>
                                </td>
                                <td style="color:red"></td>
                            </tr>


                        </table>
                        <label style="color:red" id="lackwarn"></label>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" onclick="return xfvalidate()">消费</button>
                    </div>
                }

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

